<div class="container text-center">
    <div class="row">
        <div class="d-none d-lg-block col-lg-3">
            <div class="card my-3 border border-light bg-black text-light">
                <div class="card-body">
                    <ul class="text-start" style="list-style-type: none;">
                        <li class="my-4 me-4">
                            <h4>My Job</h4>
                        </li>
                        <li class="my-4 me-4">
                            <h4>Preference</h4>
                        </li>
                        <li class="my-4 me-4">
                            <h4>Skill Assessments</h4>
                        </li>
                        <li class="my-4 me-4">
                            <h4>Interview Prep</h4>
                        </li>
                        <li class="my-4 me-4">
                            <h4>Resume Builder</h4>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 ">
            <% jobs.forEach((job)=> { %>
                <div class="card my-3 py-0 border border-light bg-black text-light">
                    <div class="row g-0">
                        <div class="col-md-4 d-flex justify-content-center align-items-center">
                            <img src="\images\canxn-favicon-color.png" height="100" width="100">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body text-start">
                                <h4 class="lh-2"><b>
                                        <%= job.title %>
                                    </b></h4>
                                <p class="lh-1 fs-5">
                                    <%= job.company %>
                                </p>
                                <p class="lh-1 fs-6">
                                    <%= job.location %>
                                </p>
                                <p class="lh-1 fs-6">Actively Recruting
                                    <a href="/jobDetails/<%= job.id %>" class="text-decoration-none"><button
                                            class="btn btn-outline-primary btn-sm">Get Details</button></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <% }) %>
        </div>
        <div class="d-none d-lg-block col-lg-3">
            <div class="card my-3 border border-light bg-black text-light">
                <div class="text-start card-body">
                    <h3><b>Job Guidence</b></h3>
                    <p>Explore our curated guide of expert-led courses, such as how to improve your resume and grow your
                        network, to help you land your next opportunity.</p>
                </div>
            </div>
        </div>
    </div>
</div>